<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$>
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>
ErrorDocument 404 http://localhost/Store-v2/404.php
ErrorDocument 403 http://localhost/Store-v2/403.php